#canvas{
    display: grid;
    grid-template-rows: repeat(100, 5px);
    grid-template-columns:  repeat(100, 5px);
    padding: 30px;
    justify-content: center;
   
}

#canvas > div{
    background-color: black;
    width: 5px;
    height: 5px;
}  