#palette {
    display: grid;
    grid: repeat(5, 20px)/repeat(5, 20px);
    grid-gap: 5px 5px;
    padding: 20px;
    margin-top: 15%;
}
  
  
#palette > div {
  width: 20px;
  height: 20px;
  
}